<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="App" type="JetRunConfigurationType">
    <option name="MAIN_CLASS_NAME" value="com.example.auth.server.ApplicationKt" />
    <module name="sd-id.server.main" />
    <shortenClasspath name="NONE" />
    <method v="2">
      <option name="Gradle.BeforeRunTask" enabled="false" tasks="buildApp" externalProjectPath="$PROJECT_DIR$/server" vmOptions="" scriptParameters="--configuration-cache -PjsMode=PRODUCTION" />
    </method>
  </configuration>
</component>